@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* reset start */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
textarea {
	resize: vertical;
}
/* reset end */
/* Default component start */
.default-section {
	padding: 135px 0;
}
.small-section {
	padding: 70px 0;
}
.btn {
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'open_sansregular', sans-serif;
	border-radius: 2px;
	letter-spacing: .2em;
}
.btn-default {
	font-size: 0.86rem;
	color: #fff;
	background-color:  rgba(50, 50, 50, .8);
	padding: 11px 20px;
}
.btn-large {
	font-size: 0.93rem;
	color: #111;
	background-color: rgba(207, 207, 207, .8);
	padding: 12px 37px;
}
.btn-small {
	font-size: 0.73rem;
	color: #777;
	background-color: rgb(229, 229, 229);
	padding: 6px 15px;
}
.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;			
	font-family: 'dosisregular', sans-serif;						
}
.title.title-light {
	letter-spacing: .3em;
	font-family: 'dosislight', sans-serif;
	margin-bottom: 20px;
	line-height: 1.7333em;
}
.title.title-white {
	color: rgba(255, 255, 255, .7);
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
}
.rhomb-icon > * {
	transform: rotate(-45deg);
}
.rhomb-icon > .fa-phone {
	transform: rotate(45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-family: 'open_sansregular',sans-serif;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
	background-color: #fff;
}
textarea.form-control {
	min-height: 90px;
	padding-top: 10px;
}

@media (max-width: 991px) {
	.default-section {
		padding: 80px 0;
	}
}
/* Default component end */
/* header start */
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 999;
	padding-top: 26px;
}
.container-fluid {
	padding: 0 15px;
}
#header .logo {
    float: left;
    line-height: 0;
}
#header .nav {
	float: right;
	font-size: .73rem;
	letter-spacing: .3em;
	font-family: 'open_sansregular', sans-serif;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;
}
#header .nav li {
    float: left;
}
#header li {
    line-height: 1.4rem;
}
#header .nav li + li {
	margin-left: 2rem;
}

@media (max-width: 991px) {
	#header .nav {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}
/* header end */
/* inner start */
.inner {
    background: url(../img/bg.jpg) no-repeat center / cover;
    height: 100vh;
    padding-top: 2.2rem;
}
.inner::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content {
	display: inline-block;
	max-width: 920px;
	vertical-align: middle;
}
.inner-content h1 {
	font-size: 2rem;
	font-family: 'dosisregular', sans-serif;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	color: rgba(254, 254, 254, .9);
	padding-bottom: 100px;
	text-transform: uppercase;
}
.inner-content span {
	font-size: 1.26rem;
	font-family: 'open_sanslight', sans-serif;
	color: rgba(254, 254, 254, .68);
}
@media (max-width: 911px) {
	.inner-content h1 {
		letter-spacing: .7em;
	text-indent: .7em;
	padding-bottom: 50px;
	}
}
/* inner end */
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%
}
.col-2{
	width: 16.666666667%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.333333333%
}
.col-5{
	width: 41.666666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333333%
}
.col-8{
	width: 66.666666667%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.333333333%
}
.col-11{
	width: 91.666666667%
}
.col-12{
	width: 100%
}

@media (max-width: 1200px) {
	.col-lg-1{
		width: 8.333333333%
	}
	.col-lg-2{
		width: 16.666666667%
	}
	.col-lg-3{
		width: 25%
	}
	.col-lg-4{
		width: 33.333333333%
	}
	.col-lg-5{
		width: 41.666666667%
	}
	.col-lg-6{
		width: 50%
	}
	.col-lg-7{
		width: 58.333333333%
	}
	.col-lg-8{
		width: 66.666666667%
	}
	.col-lg-9{
		width: 75%
	}
	.col-lg-10{
		width: 83.333333333%
	}
	.col-lg-11{
		width: 91.666666667%
	}
	.col-lg-12{
		width: 100%
	}
}

@media (max-width: 991px) {
	.col-md-1{
		width: 8.333333333%
	}
	.col-md-2{
		width: 16.666666667%
	}
	.col-md-3{
		width: 25%
	}
	.col-md-4{
		width: 33.333333333%
	}
	.col-md-5{
		width: 41.666666667%
	}
	.col-md-6{
		width: 50%
	}
	.col-md-7{
		width: 58.333333333%
	}
	.col-md-8{
		width: 66.666666667%
	}
	.col-md-9{
		width: 75%
	}
	.col-md-10{
		width: 83.333333333%
	}
	.col-md-11{
		width: 91.666666667%
	}
	.col-md-12{
		width: 100%
	}
	.d-none-md {
		display: none;
	}
	.d-block-md {
		display: none;
	}
}


/* Grid layout end */
/* Default classes start */
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.default-text {
	font-family: 'open_sanslight', sans-serif;
	line-height: 1.73rem; 
}
.bg-black {
	background-color: #111;
}
.bg-gray {
	background-color: #f8f8f8;
}
.mx-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* Default classes end */
/* Custom style start */
/* ===== About studio start ===== */
.about-studio .row + .row {
	margin-top: 100px;
}
.team-item-info span{
	display: block;
}
.team-item-info {
	font-family: 'dosisregular', sans-serif;
	letter-spacing: .4em;
	text-transform: uppercase;
	margin-top: 30px;
}
.team-item-name {
	font-size: 1rem;
	margin-bottom: 15px;
}
.team-item-role {
	font-size: .8rem;
}
blockquote p {
	padding-bottom: 35px;
}
.text-blockquote {
	font-family: 'open_sanslight', sans-serif;
	line-height: 38px;
	font-size: 1.6rem;
}
.text-blockquote span {
	font-family: 'open_sansregular', sans-serif;
	font-size: .73rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}
/* ===== About studio end ===== */
/* ===== Services start ===== */
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}
.services-tab ul li{
	float: left;
	width: 20%;
	text-align: center;
}
.services-tab ul li.ui-state-active {
	color: #111;
}
.services-tab ul li span {
	display: block;
	font-size: 3.2rem;
	color: rgba(17,17,17 0.5);
}
.services-tab ul li a span:last-child {
	font-family: 'dosisregular', sans-serif;
	margin-top: 33px;
	font-size: 0.9333rem;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.services-tab ul li a span:last-child {
		letter-spacing: 0.2em;
	}
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-wrapper p {
	margin-bottom: 40px;
}
.lets-talk-img {
	margin-top: -32px;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
}
/* ===== Lets talk end ===== */
/* ===== Portfolio start ===== */
.portfolio{
	padding-bottom: 15px;
}
.portfolio-text {
	text-align: center;
	max-width: 760px;
	margin: auto;
	font-size: 1rem;
	line-height: 1.7333em;
}
.portfolio-tab::after {
	content: '';
	clear: both;
	display: block;
}
.portfolio-tab ul{
	text-align: center;
	margin-bottom: 45px;
	margin-top: 80px;
}
.portfolio-tab ul li{
	font-family: 'dosisregular', sans-serif;
	display: inline-block;
	font-size: 0.8667rem;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: rgba(17,17,17 0.5);
}
.portfolio-tab ul li.ui-state-active{
	color: #111;
}
.portfolio-tab ul li+ li{
	margin-left: 80px;
}
.portfolio-item {
	width: 33.3333%;
	float: left;
	padding: 3px 6px;
}
.portfolio-item img{
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.portfolio-item img:hover{
	-webkit-filter: none;
	filter: none;
}

@media (max-width: 911px) {
	.portfolio-item {
		width: 50%;
	}
}
/* ===== Portfolio end ===== */
/* .why-choose-us start*/
.why-choose-us .row + .row {
	margin-top: 80px;
}
.advantage-icon {
	font-size: 3.2rem;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	letter-spacing: .4em;
	text-transform: uppercase;
	padding: 35px 0;
	font-size: 0.93em;
}
/* .why-choose-us end */
/* ===== Reviews start ===== */
.reviews {	
	padding-top: 140px;
}
.reviews-title{
	font-size: 2.1333rem;
}
.reviews-carousel{
	padding-bottom: 140px;
}
.review-wrapper {
	max-width: 735px;
	margin: auto;	
	font-family: 'open_sanslight', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6667em;
	color: rgba(255,255,255, .75);
}
.review-wrapper span{
	font-family: 'open_sansregular',sans-serif;
	text-transform: uppercase;
	font-size: 0.7333rem;
	line-height: 2.5333em;
	letter-spacing: 0.2em;
	color: rgba(255,255,255, .3);
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.slick-arrow.slick-prev {
	left: 0;
	top: 0;
}
.slick-arrow.slick-next {
	right: 0;
	top: 0;
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}

@media (max-width: 991px) {
	.review-wrapper {
		max-width: 650px;
	}
}
/* ===== Reviews end ===== */
/* Latest news start */
.title-news .all-news {
	float: right;
	margin-top: -95px;
	font-family: 'dosisregular', sans-serif;
	font-size: 0.73em;
	letter-spacing: .4em;
	color: #999;
	text-transform: uppercase;
}
.team-news-photo img{
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.team-news-photo img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.team-news-new {
	font-family: 'dosisregular', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	display: block;
	letter-spacing: .2em;
	padding-bottom: 15px;
	padding-top: 30px;
}
.team-news-name {
	font-family: 'dosisregular', sans-serif;
	font-size: .73em;
	text-transform: uppercase;
	letter-spacing: .4em;
}
.team-news p {
	font-family: 'open_sansregular',sans-serif;
	line-height: 26px;
	padding: 25px 0;
}

@media (max-width: 991px) {
	.team-news {
		margin-bottom: 30px;
		padding-top: 30px;
	}
	.container .row .col + .col .team-news {
		border-top: 2px solid #000;
	}
}
/* Latest news end */
/* stay-informed start */
.stay-informed input {
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-family: 'open_sansregular',sans-serif;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
	background-color: #fff;
	min-width: 350px;
}
.stay-informed .form-info {
	float: none;
}
/* stay-informed end */
/* ===== Contacts start ===== */
.contact-item .rhomb-icon{
	vertical-align: middle;
}
.contact-item-content {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
.contact-item-content span {
	display: block;
}
.form-row {
	margin: 0 -5px;
}
.form-col {
	width: 50%;
	float: left;
	padding: 0 5px;
}
.contact-form {
	margin-top: 80px;
}
.contact-form .form-control + .form-control {
	margin-top: 10px;
}
.contact-title {
	font-family: 'dosisregular', sans-serif;
	font-size: .8rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.contact-data {
	font-family: 'open_sansregular',sans-serif;
	font-size: 1rem;
}
.form-submit button {
	float: right;
	margin-top: 20px;
}
.form-info {
	float: left;
	padding-top: 30px;
	color: #aaa;
}
.form-info .fas {
	font-size: 12px;
}
.form-info .text-info {
	font-family: 'open_sansregular',sans-serif;
	font-size: .73rem;
}
/* ===== Contacts end ===== */
/* ===== Map start ===== */
.map-container {
	position: relative;
}
#map {
	width: 100%;
	height: 410px;
}
.on-map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
}
.map-container:hover .on-map-block {
	opacity: 0;
}
.rhomb-icon-map {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
	color: black;
	border: 1px solid #fff;
	background-color: #fff;
}
.rhomb-icon-map a> * {
	transform: rotate(-45deg);
}
.text-map {
	font-family: 'dosisregular', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.3em;
	color: rgb(229, 229, 229, .7);
	text-transform: uppercase;
	display: block;
	padding-top: 30px;
}
.on-map-block::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.content-map {
	display: inline-block;
	max-width: 920px;
	vertical-align: middle;
}
/* ===== Map end ===== */
/* footer start */
#footer {
	padding-top: 140px;
	padding-bottom: 60px;
}
#footer .rhomb-icon {
	border: 1px solid black;
	color: #111;
} 
.logo-footer {
	padding-bottom: 25px;
}
.social-footer .rhomb-icon + .rhomb-icon {
	margin-left: 20px;
}
.rhomb-icon a> * {
	transform: rotate(-45deg);
}
#footer .rhomb-icon:hover {
	background-color: black;
	color: white;
}
.social-footer {
	padding-bottom: 110px;
}
.footer-autor {
	font-family: 'dosisregular', sans-serif;
	font-size: .8rem;
	letter-spacing: .5em;
	text-transform: uppercase;
	line-height: 24px;
	display: block;
}
.footer-text {
	font-family: 'open_sansregular',sans-serif;
	font-size: .73rem;
	line-height: 24px;
	color: #999;
}
/* footer end
/* Custom style end */